[DEFAULT]
# Paths to the directories containing the video, subtitles, and where to save the output
VideoFolderPath = /path/to/your/videos
SubtitlesFolderPath = /path/to/your/subtitles
OutputFolderPath = /path/to/save/output

FFMPEGPath = /path/to/ffmpeg
